.about-inner{
  max-width: 1033px;
  margin-left: auto;
  margin-right: auto;
  h4{
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-right: 30px;
  }
  p{
    margin-bottom: 25px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}
